{% extends 'recipes/base.html' %}

{% block content %}

    <center>
        <h1>Recipe List</h1>
    </center>
    <br/>

    
    {% for recipe in recipe_list %}
        <strong>{{ recipe.name }}</strong>
        <ul>
            <li>Description: {{ recipe.description }} </li>
            <li>Minutes Needed: {{ recipe.minutes }} </li>
            <li>Number of Steps: {{ recipe.n_steps }} </li>
            <li>Directions: {{ recipe.steps }} </li>
        </ul>
        
            
    {% endfor %}
    
    
    

{% endblock %}