{% extends 'recipes/base.html' %}

{% block content %}

    
    {% if searched %}
    <center>
        <hl>You searched for {{ searched }}</hl>
    </center>
    <br/>
        {% for recipe in recipes %}
        <strong>{{ recipe.name }}</strong>
        <ul>
            <li>Description: {{ recipe.description }} </li>
            <li>Minutes Needed: {{ recipe.minutes }} </li>
            <li>Number of Steps: {{ recipe.n_steps }} </li>
            <li>Directions: {{ recipe.steps }} </li>
        </ul>
        
            
    {% endfor %}
    {% else %}
        <h1>Hey! You forgot to search for a recipe...</h1>
    {% endif %}
    
    

{% endblock %}